label.form-field(class!=attributes.class)= label
    input.form-field__input(
        id!=attributes.id,
        name!=attributes.name,
        type!=attributes.type,
        placeholder!=attributes.placeholder
    )
    //-span.form-field__error Some error text 
