label.form-field(class!=className)!= label
    input.form-field__input(
        id!=id,
        minlength!=minlength,
        maxlength!=maxlength,
        name!=name,
        type!=type,
        placeholder!=placeholder
    )
    //-span.form-field__error Some error text 
