extends ../../layouts/base.layout.pug
include ../../common/components/components.index.pug

block layoutVars
    - const META_TITLE = 'Update password page';

block head
    link(
        rel='stylesheet',
        href='/src/modules/update-password/update-password.css'
    )

block content
    - const h1 = 'Изменить пароль';

    .update-password-form
        .update-password-form__title-wrapper 
            h1.update-password-form__title-text= h1

        form.update-password-form__form
            +form-field('Старый пароль').update-password-form__control(
                type='password',
                name='oldPassword'
            )
            +form-field('Новый пароль').update-password-form__control(
                type='password',
                name='newPassword'
            )
            +form-field('Повторите новый пароль').update-password-form__control(
                type='password'
            )
            a(href='/src/pages/index.pug')
                +wm-button('Изменить').update-password-form__submit(
                    type='button'
                )
